*.swp
.*.swp
.*.swo
._*
.DS_Store
/Debug/
/ImgCache/
/Backup_rar/
/Debug/
/debug/
/upload/
/avatar/
/.idea/
/.vagrant/
node_modules
Vagrantfile
*.orig
*.aps
*.APS
*.chm
*.exp
*.pdb
*.rar
.smbdelete*
*.sublime*
.sass-cache
config.rb
config.codekit
npm-debug.log
*.log
*.iml

/vendor/
